body
{
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
}

#main_box
{
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
}

#logo
{
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 5px;
}

#head
{
  height: 80px;
  width: auto;
  background-color: yellow;
  margin: 0px 5px 0px 5px ;
}

#script_canvas
{
  width:100%;
}

#loged_in
{
  width:auto;
  height:60%;
  background-color: yellow;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

#buttons
{
  display: flex;
  width:auto;
  height:auto;
  background-color: yellow;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

#up
{
  flex:1;
}

#down
{
  flex:1;
}

#left
{
  flex:1;
}

#right
{
  flex:1;
}

#login_form
{
  font-family: "Arial Black", Gadget, sans-serif;
  height: auto;
  width: auto;
  background-color: yellow;
  margin: 0px 5px 0px 5px ;
  padding: 5px 5px 5px 5px;
  float:auto;
}

#register_form
{
  font-family: "Arial Black", Gadget, sans-serif;
  height: auto;
  width: auto;
  background-color: yellow;
  margin: 0px 5px 0px 5px ;
  padding: 5px 5px 5px 5px;
  float:auto;
}
